/* Selector Universal */
* {

    padding: 0 auto;
    margin: 0 auto;

}

/* Selector ID */
#contenedor {
    width: 900px;
    height: 1200px;
    background-color: #d49e23;
    
}


/* Selector de encabezado */
#cabecera{
    height: 25%;
    background-color: #d9bd1f;
    margin: 1em;
    text-align: center;
}

#barraNavegacion{
    padding-top: 5px;
    height: 5%;
    background-color: #713505;
    margin: 1em ;
}
#seccion1{
    height: 30%;
    background-color: #b01a1c;
    margin: 1em ;
    border: #68531e;
    border-width: 2px;
    border-style: solid;
}
#seccion1texto{
    float:left;
    width: 50%;
}

#seccion1img{
    width: 50%;
    float:right;
}

#seccion2{
    margin: 1em ;

    height: 30%;
    background-color: #dcc43c;
    border: #68531e;
    border-width: 2px;
    border-style: solid;
}

#seccion2texto{
    float:right;
    width: 50%;
}

#seccion2img{
    width: 50%;
    float:left;
}

#pie{
    background-color: #744607;
    text-align: center;
    height: 10%;
    border-radius: 1em;
    

}

/* Selector de clase */
.cabecera{
    text-align: center;
    font-size: 60px;
    color: black;
    margin: auto;
    padding-top: 50px;

}

.barraNavegacion{
    text-align: center;
    font-family: tahoma;
    font-size: 50;
    margin-left:5%;
    color: white;
    margin-right: 5%;

}

.texto{
    text-align: justify;
    font-family: tahoma;
    font-size: 12;
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 10px;
    color: black;
    
}


.pietexto{
    text-align: center;
    font-family: tahoma;
    font-size: 14PX;

}




/*selector de etiqueta*/
ul{
    text-align: center;
}

li{
    display: inline;

}

img{
    width: 100px;
    height: 100px;
    border: 1px solid white;
    margin-left: 5px;
    margin-right: 5px;
    
}

